body {
    margin:0;
    padding:0;
    color:#333333;
}

.container {
    color:#333333;
}

h1 {
    line-height:100%;
    font-size:112.5%;
    margin:10px 0 5px;
    padding:0;
    color:black;
}

.timeauthor {
    font-size:75.0%;
    color:#9F9F9F;
    margin:0px 0 15px;
    padding:0;
}