<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>每日更新</string>
			<key>tag</key>
			<integer>0</integer>
			<key>icon</key>
			<string>FBBookmarkDefault.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>精华</string>
			<key>tag</key>
			<integer>1</integer>
			<key>icon</key>
			<string>friends.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>穿越</string>
			<key>tag</key>
			<integer>2</integer>
			<key>icon</key>
			<string>events.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>挖笑话</string>
			<key>tag</key>
			<integer>10</integer>
			<key>icon</key>
			<string>messages.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>挖趣图</string>
			<key>tag</key>
			<integer>20</integer>
			<key>icon</key>
			<string>photos.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>挖热点</string>
			<key>tag</key>
			<integer>2</integer>
			<key>icon</key>
			<string>places.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>我收藏的</string>
			<key>tag</key>
			<string>100</string>
		</dict>
		<dict>
			<key>name</key>
			<string>我参与的</string>
			<key>tag</key>
			<string>110</string>
		</dict>
	</array>
</array>
</plist>
